<div class="container home-container p-3  mt-2 cursor">
    <div class="d-flex flex-row justify-content-around mb-3">
        <div class="p-2 docter " >
            <a>
                <img src="https://www.medibuddy.in/assets/services/doctor.svg" alt="" height="50"width=100>
                 <h6 class="text-center">Talk to Docter</h6>
            </a>
        </div>
        <div class="p-2">
            <a>
                <img src="https://www.medibuddy.in/assets/services/medicine.svg" alt="" height="50"width=100>
                <h6 >Medicine</h6>
            </a>
        </div>
        <div class="p-2">
            <a>
                <img src="https://www.medibuddy.in/assets/services/surgery.svg" alt="" height="50"width=100>
                <h6 >Surgery</h6>
            </a>
        </div>
        <div class="p-2">
            <a>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXFJqGcI7zIM4HzWXcz8DitWCVgCQJgu15hw&usqp=CAU" alt="" height="60"width=100>
                <h6 class="gd">GOLD</h6>
            </a>
        </div>
        <div class="p-2">
            <a>
                <img src="https://www.medibuddy.in/assets/services/insurance.svg" alt="" height="50"width=100>
                <h6  >Insurance</h6>
            </a>
        </div>
        <div class="p-2">
            <a>
                <img src="https://www.medibuddy.in/assets/services/labtest.svg" alt="" height="50"width=100>
                  <h6 >Lab test and Pakages</h6>
            </a>
        </div>
        <div class="p-2 mm text-center">
  <a>
    <i class="bi bi-three-dots-vertical "></i>
    <h6>More</h6>
</a>
</div>
    </div>
</div>

<div class="container home-container border mt-3 p-2 shadow rounded-pill">
    <div class="row d-flex">
        <div class="col-6 mt-4 text-end">
            <h5 text-end>Consult with Top Doctors Online, 24x7</h5>
        </div>
<div class="container border shadow col-4 mt-1 p-1 rounded-pill text-center ">
    <a class="text-primary text-decoration-none ">Start Consulation &nbsp;&nbsp;<i class="bi bi-arrow-right"></i></a>
</div>
    </div>
</div>